p {
  margin: 0;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  padding: 0;
}

.form-area {
  max-width: 560px;
  margin: 0 auto;
}

.form-field {
  margin: 32px 0;
}

.col {
  float: left;
  width: 50%;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.x-100 {
  width: 100%;
}

.input_text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #636b6f;;
  font-family: Lusitana, serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

.input_text:focus {
  outline: none;
}

.text-align {
  text-align: center;
}

.submit-btn {
  text-align: center;
  display: inline-block;
  background-color: #636b6f;;
  color: #fff;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.items {
  position: relative;
  width: 80%;
  border: 2px solid #636b6f;;
  border-radius: 20px;
  margin: 30px auto;
  padding: 25px 20px 15px 20px;
}

.header {
  position: absolute;
  width: 100%;
  top: -13px;
  text-align: center;
}

.id {
  display: inline-block;
  position: absolute;
  left: -10px;
  background-color: #636b6f;;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  text-align: center;
  line-height: 30px;
}

.title {
  display: inline-block;
  background-color: #fff;
  position: absolute;
  left: 40px;
  top: -10px;
  font-size: 22px;
  padding: 5px;
}
.name {
  display: inline-block;
  margin: 10px;
  font-size: 12px;
}

.date {
  float: right;
  margin: 10px;
  font-size: 12px;
}

.pagination {
  justify-content: center;
}

.message {
  font-size: 16px;
  font-weight: 900;
  padding: 0 15px;
}

.links p {
  font-size: 13px;
}

.edit {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.dust img {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.del {
  text-align: center;
}

.del .body {
  width: 600px;
  margin: 20px auto;
}

.btn {
  display: block;
  width: 150px;
  height: 30px;
  margin: 0 auto;
  background-color: #fff;
  border: 3px solid #9dabb3;
  border-radius: 15px;
  color: #636b6f;
  outline:none;
}

.edit_form {
  margin: 0 auto;
  text-align: center;
}

.edit_input {
  display: block;
  margin: 0 auto;
  width: 300px;
}

.back {
  display: inline-block;
  width: 80px;
  height: 40px;
  background-color: #fff;
  border-radius: 20px;
  outline:none;
  margin-top: 20px;
}

.back a {
  color: #636b6f;
  text-decoration: none;
}

.confirm {
  display: inline-block;
  background-color: #fff;
  color: #636b6f;
  width: 80px;
  height: 40px;
  border-radius: 20px;
  text-decoration: none;
  margin-right: 30px;
  margin-top: 20px;
  outline:none;
}
