.container {
     margin: 0 auto;
     text-align: center;
}

.link {
     display: inline-block;
     width: 80px;
     height: 80px;
     border-radius: 40px;
     color: rgb(0, 0, 0);
     text-decoration: none;
     background-color: #fff;
     outline:none;
     line-height: 80px;
     font-weight: 100;
}

.button1 {
     border: 2px solid #02abff;
     margin-right: 30px;
}
   
.button2 {
     border: 2px solid #005d88;
     margin-right: 30px;
}

.button3 {
     border: 2px solid #01334d;
}

.date {
     display: flex;
     justify-content: center;
}

.input_form {
     text-align: center;
}

.input_table {
     margin: 20px auto;
     border-collapse: separate;
}

th {
     padding-right: 50px;
}

.confirm {
     display: inline-block;
     background-color: #fff;
     color: #636b6f;
     width: 80px;
     height: 40px;
     border-radius: 20px;
     text-decoration: none;
     margin-right: 30px;
     outline:none;
}

.back {
     display: inline-block;
     width: 80px;
     height: 40px;
     background-color: #fff;
     border-radius: 20px;
     outline:none;
}

.back a {
     color: #636b6f;
     text-decoration: none;
}

.totalPrice {
     font-size: 20px;
     font-weight: bold;
}

.msg {
     color: red;
     text-align: center;
     font-weight: bold;
     font-size: 25px;
}

.edit {
     display: block;
     width: 20px;
     height: 20px;
}

.item_edit {
     display: block;
     margin: 20px auto;
     width: 150px;
     height: 50px;
     text-align: center;
}